---
- name: Create symlink for aerospace config
  ansible.builtin.file:
    src: "{{ playbook_dir }}/files/aerospace"
    dest: "{{ ansible_facts['user_dir'] }}/.config/aerospace"
    force: true
    state: link
