---
- name: Create SSH key directory
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.ssh/"
    state: directory

- name: Copy SSH keys
  copy:
    dest: "{{ ansible_facts['user_dir'] }}/.ssh/{{ ssh_key_item.key }}"
    content: "{{ ssh_key_item.value }}"
    mode: "0600"
  no_log: true
  loop_control:
    loop_var: ssh_key_item
  with_items: "{{ ssh_key | default({}) | dict2items }}"

# TODO add known hosts for github